<!DOCTYPE html>
<html>
<head>
  <title>IMV Eurovision Song Contest System</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1>IMV Eurovision Resultatsystem</h1>
    </header>
    <div id="content">
      <%= yield %>
    </div><!-- end of content -->
    <footer>
      <p id="endtext">IMV Eurovision Resultatsystem: <%= link_to "legg til resultat", :controller => "register_vote", :action => "list"%> <%= link_to "vis resultater", :controller => "show_results"%></p>
    </footer>
  </div> <!-- end of wrapper -->
</body>
</html>
