<h2>Resultatbanken</h2>
<h3>Hovedindikatorer</h3>
<ul id="menu_list">
<li><%= link_to "Show",:action => "show" %> </li>
<li><%= link_to "Antrekk",:action => "dresses" %></li>
<li><%= link_to "Engelsk uttale",:action => "english"%></li>
<li><%= link_to "Musikalsk kvalitet",:action => "musical_quality" %></li>
<li><%= link_to "Helhetlig inntrykk",:action => "total" %></li>
</ul>

