<h2>Samlet vurdering</h2>
<table>
  <tr>
    <th>Land</th>
    <th>Artist</th>
    <th>Sang</th>
    <th>Poeng</th>
  </tr>
<% @countrylist.each do |c| %>
<tr>
  <td><%=image_tag("#{c[:obj].short_id}.png")%><%= c[:obj].nor_name %></td>
  <td><%= c[:obj].actor_name %></td>
  <td><%= c[:obj].song_name %></td>
  <td><%= c[:sum]%></td>
</tr>
<% end %>
</table>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<% content_for :javascript_includes do %>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Land', 'Stemmer'],
          <% @countrylist.each do |c| %>
          ["<%= c[:obj].short_id %>",<%= c[:sum].to_s %>],
          <% end %>
        ]);

        var options = {
                region: 'world'
              };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    };
    </script>
  
  
  
  
<% end %>